body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 20px 0;
}

#about, #participate {
    padding: 20px;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px 0;
}
